html {
    background-color: aquamarine;
}

.container {
    display: flex;
    margin: auto;
    width: 800px;
    height: 800px;
    border: 5px solid white;
    background-color: #00BFFF;
    z-index: 0; 
    position: relative;
    cursor: url('../css/hammer.png'), crosshair;
}

@-webkit-keyframes move {
    from {left: 0;}
    to {left: 89%;}
  }

#cloud1 {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    left: 50px;
    position: absolute;
    z-index: 2;
    /* animation: move 30s linear 0s infinite; */
}

#cloud2 {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    right: 50px;
    position: absolute;
}

#cloud3 {
    height: 100px;
    width: 100px;
    margin-top: 90px;
    right: 300px;
    position: absolute;
}

#grass {
    width: 100%;
    margin-top: 100px;
    /* margin-left: -120px; */
    height: 700px;
    z-index: 0;
    position: absolute;  
}

#holemole {
    left: 18%;
    top: 35%;
    height: 70%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
}

.hole {
    background: url('../css/hole.png');
    display: flex;
    z-index: 1;
    background-repeat: no-repeat;
    width: 30%;
}

#timer {
    text-align: right;
}

.mole {
    background: url('../css/mole.png');
    flex-wrap: wrap;
    z-index: 10;
    padding-right: 100px;
}



